name: set-env

on:
  workflow_call:
    inputs:
      GHCR_DOCKER_REGISTRY_PATH:
        type: string
        required: true
    outputs:
      VERSION:
        value: ${{ jobs.set-env.outputs.VERSION }}
      PR_SHA:
        value: ${{ jobs.set-env.outputs.PR_SHA }}
      PR_BASE_REF:
        value: ${{ jobs.set-env.outputs.PR_BASE_REF }}
      PR_NUMBER:
        value: ${{ jobs.set-env.outputs.PR_NUMBER }}
      DOCKER_IMAGE_NAME:
        value: ${{ jobs.set-env.outputs.DOCKER_IMAGE_NAME }}
      DOCKER_IMAGE_NAME_DEV:
        value: ${{ jobs.set-env.outputs.DOCKER_IMAGE_NAME_DEV }}
      DOCKER_IMAGE_NAME_RELEASE:
        value: ${{ jobs.set-env.outputs.DOCKER_IMAGE_NAME_RELEASE }}
      DOCKER_IMAGE_NAME_LATEST:
        value: ${{ jobs.set-env.outputs.DOCKER_IMAGE_NAME_LATEST }}

permissions:
  contents: read

jobs:
  set-env:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
    
      - id: set-env
        run: |
          VERSION="$(node -p "require('./package.json').version")"
          PR_SHA="${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}"
          PR_BASE_REF="${{ github.event.pull_request.base.ref }}"
          PR_NUMBER="${{ github.event.pull_request.number }}"
          DOCKER_IMAGE_NAME="${{ inputs.GHCR_DOCKER_REGISTRY_PATH }}:${VERSION}-${PR_SHA}"
          DOCKER_IMAGE_NAME_DEV="${{ inputs.GHCR_DOCKER_REGISTRY_PATH }}:${VERSION}-dev-${PR_SHA}"
          DOCKER_IMAGE_NAME_RELEASE="${{ inputs.GHCR_DOCKER_REGISTRY_PATH }}:${VERSION}"
          DOCKER_IMAGE_NAME_LATEST="${{ inputs.GHCR_DOCKER_REGISTRY_PATH }}:latest" 

          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
          echo "PR_SHA=${PR_SHA}" >> $GITHUB_OUTPUT
          echo "PR_BASE_REF=${PR_BASE_REF}" >> $GITHUB_OUTPUT
          echo "PR_NUMBER=${PR_NUMBER}" >> $GITHUB_OUTPUT
          echo "DOCKER_IMAGE_NAME=${DOCKER_IMAGE_NAME}" >> $GITHUB_OUTPUT
          echo "DOCKER_IMAGE_NAME_DEV=${DOCKER_IMAGE_NAME_DEV}" >> $GITHUB_OUTPUT
          echo "DOCKER_IMAGE_NAME_RELEASE=${DOCKER_IMAGE_NAME_RELEASE}" >> $GITHUB_OUTPUT
          echo "DOCKER_IMAGE_NAME_LATEST=${DOCKER_IMAGE_NAME_LATEST}" >> $GITHUB_OUTPUT

    outputs:
      VERSION: ${{ steps.set-env.outputs.VERSION }}
      PR_SHA: ${{ steps.set-env.outputs.PR_SHA }}
      PR_BASE_REF: ${{ steps.set-env.outputs.PR_BASE_REF }}
      PR_NUMBER: ${{ steps.set-env.outputs.PR_NUMBER }}
      DOCKER_IMAGE_NAME: ${{ steps.set-env.outputs.DOCKER_IMAGE_NAME }}
      DOCKER_IMAGE_NAME_DEV: ${{ steps.set-env.outputs.DOCKER_IMAGE_NAME_DEV }}
      DOCKER_IMAGE_NAME_RELEASE: ${{ steps.set-env.outputs.DOCKER_IMAGE_NAME_RELEASE }}
      DOCKER_IMAGE_NAME_LATEST: ${{ steps.set-env.outputs.DOCKER_IMAGE_NAME_LATEST }}
